{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cakehouse/Home.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'cakehouse/img/logo.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cake House</title>





</head>

<div class="container">
  <header id="navbar" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="Home.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      {% load static %}<img id="logo" src="{% static 'cakehouse/img/logo.png' %}">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'index' %}" class="nav-link px-2 link-dark">Home</a></li>
      <li><a href="{% url 'catalogo' %}" class="nav-link px-2 link-dark">Productos</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'perfil' %}" class="nav-link px-2 link-dark">Tu perfil</a></li>
      <li><a href="{% url 'desloguear' %}" class="nav-link px-2 link-dark">Cerrar sesión</a></li>
      {% else %}
      <li><a href="{% url 'loguear' %}" class="nav-link px-2 link-dark">Iniciar sesión</a></li>
      <li><a href="{% url 'registrarse' %}" class="nav-link px-2 link-dark">Registrarte</a></li>
      {% endif %}
    </ul>

    <div class="col-md-3 text-end">
    </div>
  </header>
</div>

<body id="body">
    
  

  <div id="banner" class="p-3 p-md-5 m-md-3 bg-light">
    <h4>Perfil</h4>
    <div class="container-fluid">

      <div class="row">
        <div class="col-6">
          Nombre de usuario:
        </div>
        <div class="col-6">
          {{user.username}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          Correo:
        </div>
        <div class="col-6">
          {{user.email}}
        </div>
      </div>
      
      <div class="row">
        <div class="col-6">
          Nombre:
        </div>
        <div class="col-6">
          {{user.first_name}} {{user.last_name}}
        </div>
      </div>
      
      <div class="row">
        <div class="col-6">
          Dirección:
        </div>
        <div class="col-6">
          {{datos_cliente.direccion}}
        </div>
      </div>
      
      <div class="row">
        <div class="col-6">
          Comuna:
        </div>
        <div class="col-6">
          {{datos_cliente.comuna}}
        </div>
      </div>
      
      <div class="row">
        <div class="col-6">
          Teléfono
        </div>
        <div class="col-6">
          {{datos_cliente.telefono}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
        <a href="{% url 'edicion' %}"><button type="submit" class="btn btn-primary mb-3">Cambiar Información</button></a>
        </div>
        <div class="col-4">
        <a href="{% url'seguimiento' %}"><button type="submit" class="btn btn-primary mb-3">Ver seguimiento</button></a>
        </div>
        <div class="col-4">
        <a href="{% url 'historial' %}"><button type="submit" class="btn btn-primary mb-3">Historial de Compras</button></a>
        </div>
      </div>
    </div>
    </div>


    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
<footer id="footer" class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; Cake House 2020–2021 Todos los derechos reservados.</small>
      </div>
  
      <div class="col-6 col-md">
        <h5>Visítenos</h5>
        <ul class="list-unstyled text-small">
          <p>Dirección: Pedro de Valdivia #2056, Ñuñoa. <br>
            Horario de Atención: Lunes a Sábado : 08:30 a 18:00 Hrs. <br>
            Domingos: 08:30 a 14:00 Hrs.</p>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Síguenos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-info" href="#">Instagram</a></li>
          <li><a class="link-info" href="#">Facebook</a></li>
          <li><a class="link-info" href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contactenos</h5>
        <ul class="list-unstyled text-small">
          <p>Telefóno: +56258996354 <br>
            Horario de Atención de Lunes a Domingo : 08:00 a 19:00</p>
        </ul>
      </div>
    </div>
  </footer>
</html>