#body{

    background-image: url(https://fondosmil.com/fondo/1819.jpg);
    background-color: lightcoral;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
}